In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
task_1=pd.read_csv('/home/sarthak/Downloads/combinejob.csv')

In [3]:
task_1.head()

,Unnamed: 0,timestamp,missing info,job ID,event type,user name,scheduling class,job name,logical job name
0,0,2501193134619,NaN,6486215608,0,r/Al6kYJOwZITr6wi4pAlEwyGv5TM2EkJ8woA5hszeA=,0,r5eyJ1a8/eGgOLNBwt3N6TFxHziyP6GnFzPk0hvsVfo=,QdrSScSXyIpoqR4skT9QFLlVShlxNDTFRBhIWZRq2SM=
1,1,2501193139038,NaN,6486215672,0,fJeARInTaIjFrdXGqxap6x2T3TpJB84y9zvFsoGGhjk=,2,Xp4Fag7ix7xAtR7LnOa8xFxqoSUr7Xt19T9OSnKmjhE=,azrDmMUllbmKwthWNxfpqUWO4UEd8r0NMc95j5tNaFA=
2,2,2501193144324,NaN,6486215873,0,fJeARInTaIjFrdXGqxap6x2T3TpJB84y9zvFsoGGhjk=,2,VRFhUGhyqS72Q/qeBvOJajacSFff03rZe175EeyNIwA=,azrDmMUllbmKwthWNxfpqUWO4UEd8r0NMc95j5tNaFA=
3,3,2501194223662,NaN,6486215672,1,fJeARInTaIjFrdXGqxap6x2T3TpJB84y9zvFsoGGhjk=,2,Xp4Fag7ix7xAtR7LnOa8xFxqoSUr7Xt19T9OSnKmjhE=,azrDmMUllbmKwthWNxfpqUWO4UEd8r0NMc95j5tNaFA=
4,4,2501194223666,NaN,6486215721,0,fJeARInTaIjFrdXGqxap6x2T3TpJB84y9zvFsoGGhjk=,0,NonpGGuq496VNdEpSwKjq9zA+s2UMnfcGGq8C9GMuwM=,cUdjbM2RJcB7/4KX3NdHpQnyyDtBq4l5+rAK3SWjpPw=

In [4]:
task_two.drop(['missing_info', 'user'], axis=1)

NameError: name 'task_two' is not defined

In [ ]:
job_task=task_two.groupby(["job_id","priority"]).size().reset_index(name="tasks")

In [ ]:
job_task

In [ ]:
% matplotlib inline

In [ ]:
ypos=np.arange(len(job_task['job_id']))

In [ ]:
ypos

In [ ]:
plt.bar(ypos,job_task['tasks'],label="freq")

In [ ]:
job_task.loc[job_task['tasks'].idxmax()]

In [ ]:
df=job_task.drop([ 'tasks'], axis=1)

In [ ]:
df

In [ ]:
df.drop_duplicates(subset ="job_id", 
                     keep = False, inplace = True)

In [ ]:
df

In [ ]:
job_priority=df.groupby(["priority"]).size().reset_index(name="jobs")

In [ ]:
job_priority

In [ ]:
df.loc[df['priority'] == 11]

In [ ]:
yposi=np.arange(len(job_priority['priority']))
xposi=np.arange(len(job_priority['jobs']))

In [ ]:
plt.bar(yposi,job_priority['jobs'])

In [ ]:
s=(job_priority['priority'], job_priority['jobs'])

In [ ]:
s

In [ ]:
usage = job_priority['jobs']
labels = job_priority['priority']
# Generating the y positions. Later, we'll use them to replace them with labels.
y_positions = range(len(labels))

# Creating our bar plot
plt.bar(y_positions, usage)
plt.xticks(y_positions, labels)
plt.ylabel("jobs")
plt.title("jobs per priority")
plt.show()